<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ItemCoreEntities" connectionString="metadata=res://*/Data.ItemsModel.csdl|res://*/Data.ItemsModel.ssdl|res://*/Data.ItemsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ItemCore;user id=sa;password=dani(14131324);multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>